/*--------setup---------*/

@font-face {
    src: url(../../police/Exo-VariableFont_wght.ttf);
    font-family: "font-1";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "font-1";
}

body {
    height: 100vh;
    background: rgb(41, 47, 61);
    background: linear-gradient(0deg,
            rgba(41, 47, 61, 1) 0%,
            rgba(16, 19, 24, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#form {
    height: 55vh;
    width: 28%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 500px -100px #00bfff;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(2, 28, 255, 0.15) 0%, rgba(255, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
}

.container * {
    display: block;
    width: 55%;
}

.container h3 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
}

.container label i {
    text-align: start;
    transform: scale(1.5) translateX(-32px) translateY(22.5px);
    width: 20px;
}

.container input,
.container select {
    border: none;
    height: 30px;
    border-radius: 5px;
    cursor: text;
    transition: 0.2s;
}

.container input:hover,
.container select:hover {
    transform: scale(1.1);
}

.container input::placeholder {
    color: #82848B;
    font-size: 0.9rem;
    padding-left: 10px;
}

input[type="submit"] {
    width: 30%;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background: #646464;
    color: white;
    font-size: 0.9rem;
}

#genre {
    cursor: pointer;
    color: #82848B;
    font-size: 0.9rem;
    padding-left: 7px;
}

#cgv {
    width: 9%;
    cursor: pointer;
}

label[for="cgv"] {
    text-align: center;
}